
            <div data-w-tab="Tab 3" class="w-tab-pane">
                <div class="filterswrapper">
                  <div class="alignrow alignright">
                    <form action="/search" class="searchwrapper w-form">
                        <input type="search" class="textfield searchfield w-input" maxlength="256" name="query" placeholder="Search…" id="search" required="">
                        <!-- <input type="submit" value="Search" class="searchbutton w-button"> -->
                    </form>
                  </div>
                </div>
                <div class="w-dyn-list">
                  <div role="list" class="librarylist w-dyn-items w-row">
                      <!-- video -->
                      <div role="listitem" class="libraryitem w-dyn-item w-col w-col-3">
                          <div class="librarycard" data-ix="library-card">
                              <div class="librarythumb">
                                  <div class="librarythumb-overlay">
                                      <div class="overlayvideo-stats">
                                          <div class="alignrow sides bottom">
                                              <div class="alignrow sides">
                                                  <div class="alignrow">
                                                      <img src="assets/mat.jpg" loading="lazy" alt="" class="commentface">
                                                      <div>
                                                          <div class="sidecomment-name">Mat Vogels</div>
                                                          <div class="sidecomment-date">3 days ago</div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div>5:03</div>
                                          </div>
                                      </div>
                                      <div class="videothumb-menu">
                                          <div class="videosettings-button" data-ix="link-copied">
                                              <div class="tooltip link">Copy Link</div>
                                          </div>
                                          <div class="linkcopied-confirm">
                                              <img src="assets/link.svg" loading="lazy" alt="" class="confirmicon">
                                              <div class="confirmtext">A link to this item has been copied to your clipboard!</div>
                                          </div>
                                          <div class="itemdeleted-confirm">
                                              <img src="assets/iconfinder-icon-38.svg" loading="lazy" alt="" class="confirmicon delete">
                                              <div class="confirmtext buttons">Are you sure you want to permanently delete this?</div>
                                              <div class="alignrow">
                                                  <div class="button confirm-button" data-ix="close-delete-modal">
                                                      <div>Yes, delete</div>
                                                  </div>
                                                  <div class="button confirm-button cancel" data-ix="close-delete-modal">
                                                      <div>Cancel</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="itemgroups-modal" data-ix="show-flag">
                                              <div class="confirmtext buttons">Select the group(s) you&#x27;d like to share this video with:</div>
                                              <div class="groupslist">
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>CX</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>CX</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>Marketing</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>Marketing</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>New Website</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>New Website</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>Product</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>Product</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>Reward Card</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>Reward Card</div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="alignrow">
                                                  <div class="button save-button" data-ix="close-group-modal">
                                                      <div>Save</div>
                                                  </div>
                                                  <div class="button confirm-button greencancel" data-ix="close-group-modal">
                                                      <div>Cancel</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="videosettings-button done" data-ix="show-tooltip">
                                              <div class="tooltip done">Done</div>
                                          </div>
                                          <div class="groupsdeselected" data-ix="item-groups">
                                              <div class="videosettings-button groups">
                                                  <div class="tooltip groups">Group(s)</div>
                                              </div>
                                          </div>
                                          <div data-ix="item-bookmark">
                                              <div class="bookmark" data-ix="show-tooltip">
                                                  <div class="videosettings-button bookmark">
                                                      <div class="tooltip">Favorite</div>
                                                  </div>
                                              </div>
                                              <div class="bookmarked">
                                                  <div class="videosettings-button bookmarkactive">
                                                      <img src="assets/iconfinder-icon-39.svg" loading="lazy" alt="" class="bookmarkstar">
                                                      <div class="tooltip">Favorite</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="groupsselected" data-ix="item-groups">
                                              <div class="videosettings-button groups selected" data-ix="item-groups">
                                                  <div class="tooltip groups">Group(s)</div>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="assets/whiteVideo.svg" loading="lazy" alt="" class="videoscreenshot-icon">
                                      <a href="index.html" class="button viewvideo w-button" data-ix="view-video-overlay">View Video</a>
                                      <div class="viewvideo-overlay"></div>
                                  </div>
                              </div>
                              <div class="librarycard-content">
                                  <h3 class="librarytitle"></h3>
                                  <div class="librarycard-desc"></div>
                                  <div class="divider"></div>
                                  <div class="alignrow peoplerow">
                                      <img src="assets/nate.jpg" loading="lazy" alt="" class="facesrow">
                                      <img src="assets/harry.jpg" loading="lazy" alt="" class="facesrow">
                                      <img src="assets/kylie.jpg" loading="lazy" alt="" class="facesrow">
                                      <img src="assets/connor.jpg" loading="lazy" alt="" class="facesrow">
                                  </div>
                                  <div class="dim sublabel">6 active comments</div>
                              </div>
                          </div>
                      </div>
                      <!-- screenshot -->
                      <div role="listitem" class="libraryitem w-dyn-item w-col w-col-3">
                          <div class="librarycard" data-ix="library-card">
                              <div class="librarythumb">
                                  <div class="librarythumb-overlay">
                                      <div class="overlayvideo-stats">
                                          <div class="alignrow sides bottom">
                                              <div class="alignrow sides">
                                                  <div class="alignrow">
                                                      <img src="assets/mat.jpg" loading="lazy" alt="" class="commentface">
                                                      <div>
                                                          <div class="sidecomment-name">Mat Vogels</div>
                                                          <div class="sidecomment-date">3 days ago</div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div>5:03</div>
                                          </div>
                                      </div>
                                      <div class="videothumb-menu">
                                          <div class="videosettings-button" data-ix="link-copied">
                                              <div class="tooltip link">Copy Link</div>
                                          </div>
                                          <div class="linkcopied-confirm">
                                              <img src="assets/link.svg" loading="lazy" alt="" class="confirmicon">
                                              <div class="confirmtext">A link to this item has been copied to your clipboard!</div>
                                          </div>
                                          <div class="itemdeleted-confirm">
                                              <img src="assets/iconfinder-icon-38.svg" loading="lazy" alt="" class="confirmicon delete">
                                              <div class="confirmtext buttons">Are you sure you want to permanently delete this?</div>
                                              <div class="alignrow">
                                                  <div class="button confirm-button" data-ix="close-delete-modal">
                                                      <div>Yes, delete</div>
                                                  </div>
                                                  <div class="button confirm-button cancel" data-ix="close-delete-modal">
                                                      <div>Cancel</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="itemgroups-modal" data-ix="show-flag">
                                              <div class="confirmtext buttons">Select the group(s) you&#x27;d like to share this video with:</div>
                                              <div class="groupslist">
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>CX</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>CX</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>Marketing</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>Marketing</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>New Website</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>New Website</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>Product</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>Product</div>
                                                      </div>
                                                  </div>
                                                  <div data-ix="select-groups">
                                                      <div class="grouptags">
                                                          <div>Reward Card</div>
                                                      </div>
                                                      <div class="selectedgroup-tags">
                                                          <div>Reward Card</div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="alignrow">
                                                  <div class="button save-button" data-ix="close-group-modal">
                                                      <div>Save</div>
                                                  </div>
                                                  <div class="button confirm-button greencancel" data-ix="close-group-modal">
                                                      <div>Cancel</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="videosettings-button done" data-ix="show-tooltip">
                                              <div class="tooltip done">Done</div>
                                          </div>
                                          <div class="groupsdeselected" data-ix="item-groups">
                                              <div class="videosettings-button groups">
                                                  <div class="tooltip groups">Group(s)</div>
                                              </div>
                                          </div>
                                          <div data-ix="item-bookmark">
                                              <div class="bookmark" data-ix="show-tooltip">
                                                  <div class="videosettings-button bookmark">
                                                      <div class="tooltip">Favorite</div>
                                                  </div>
                                              </div>
                                              <div class="bookmarked">
                                                  <div class="videosettings-button bookmarkactive">
                                                      <img src="assets/iconfinder-icon-39.svg" loading="lazy" alt="" class="bookmarkstar">
                                                      <div class="tooltip">Favorite</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="groupsselected" data-ix="item-groups">
                                              <div class="videosettings-button groups selected" data-ix="item-groups">
                                                  <div class="tooltip groups">Group(s)</div>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="assets/whitecam.svg" loading="lazy" alt="" class="videoscreenshot-icon">
                                      <a href="index.html" class="button viewvideo w-button" data-ix="view-video-overlay">View Screenshot</a>
                                      <div class="viewvideo-overlay"></div>
                                  </div>
                              </div>
                              <div class="librarycard-content">
                                  <h3 class="librarytitle"></h3>
                                  <div class="librarycard-desc"></div>
                                  <div class="divider"></div>
                                  <div class="alignrow peoplerow">
                                      <img src="assets/nate.jpg" loading="lazy" alt="" class="facesrow">
                                      <img src="assets/harry.jpg" loading="lazy" alt="" class="facesrow">
                                      <img src="assets/kylie.jpg" loading="lazy" alt="" class="facesrow">
                                      <img src="assets/connor.jpg" loading="lazy" alt="" class="facesrow">
                                  </div>
                                  <div class="dim sublabel">6 active comments</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>