<div class="container">
  <h1 class="heading">Team Billing</h1>
  <div class="herosubtext">Team Billing allows you to pay for Premium memberships on behalf of other people (e.g. fellow
    team members)</div>
  <div>
    <div class="formblock w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="alignform">
        <input type="email" class="textfield newmember large w-input" maxlength="256" name="email" data-name="Email"
          placeholder="Add email addresses seperated by commas (e.g. elsa@acme.com, olaf@acme.com, etc)" id="email"
          required="">
        <input type="submit" value="Add to Team Billing" data-wait="Please wait..."
          class="button submitbutton large w-button">
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="divider largedivide"></div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow">
        <div>
          <div class="teamname">Andrew Vojslavek</div>
          <div class="dim">andrew@zestful.com</div>
        </div>
        <div class="pending">Pending</div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow">
        <div>
          <div class="teamname">Lukas Corbit</div>
          <div class="dim">lukas@zestful.com</div>
        </div>
        <div class="pending">Pending</div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow"><img src="assets/mat.jpg" loading="lazy" alt="" class="teamface">
        <div>
          <div class="teamname">Mat Vogels</div>
          <div class="dim">mat@zestful.com</div>
        </div>
        <div class="you">Admin</div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow"><img src="assets/connor.jpg" loading="lazy" alt="" class="teamface">
        <div>
          <div class="teamname">Connor Mooney</div>
          <div class="dim">connor@zestful.com</div>
        </div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow"><img src="assets/harry.jpg" loading="lazy" alt="" class="teamface">
        <div>
          <div class="teamname">Harry Levine</div>
          <div class="dim">connor@zestful.com</div>
        </div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow"><img src="assets/kylie.jpg" loading="lazy" alt="" class="teamface">
        <div>
          <div class="teamname">Kylie Ryan</div>
          <div class="dim">connor@zestful.com</div>
        </div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow"><img src="assets/malte.jpg" loading="lazy" alt="" class="teamface">
        <div>
          <div class="teamname">Malte Muenke</div>
          <div class="dim">connor@zestful.com</div>
        </div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
  <div class="cardrow">
    <div class="alignrow sides">
      <div class="alignrow"><img src="assets/nate.jpg" loading="lazy" alt="" class="teamface">
        <div>
          <div class="teamname">Nate Vogels</div>
          <div class="dim">connor@zestful.com</div>
        </div>
      </div>
      <div>
        <a href="#" class="button red w-button">Remove</a>
      </div>
    </div>
  </div>
</div>
